{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport"
content="width=device-width,
initial-scale=1.0">
<meta http-equiv="X-UA-Compatible"
content="ie=edge">
<link rel="stylesheet" href="{% static 'Enthernetapp/main.css' %}"/>
<title>Enthernet Insurance</title>
</head>
<body>
<h1> Enthernet Insurance Homes</h1>

<p>At Enthernet Insurance, your home is secured.</p>
<span>Give us a trial today</span>
<small>A trial will convince you</small>
<img src="{% static 'work1.jpg' %}" alt="work picture"/>
</body>
</html>